n8n-workflows/examples/claude-stock-to-telegram.json
{
  "name": "Stock Analysis to Telegram (Yahoo + Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-to-telegram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "stock-telegram-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "symbols-param",
              "name": "symbols",
              "value": "={{ $json.body.symbols || 'AAPL,MSFT' }}",
              "type": "string"
            },
            {
              "id": "analysis-type-param",
              "name": "analysis_type",
              "value": "={{ $json.body.analysis_type || 'overview' }}",
              "type": "string"
            },
            {
              "id": "chat-id-param",
              "name": "chat_id",
              "value": "={{ $json.body.chat_id || '1955999067' }}",
              "type": "string"
            },
            {
              "id": "send-telegram-param",
              "name": "send_to_telegram",
              "value": "={{ $json.body.send_to_telegram !== false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-parameters",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbols.split(',')[0].trim() }}?interval=1d&range=5d",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-stock-1",
      "name": "Fetch Stock 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbols.split(',')[1]?.trim() || 'QQQ' }}?interval=1d&range=5d",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-stock-2",
      "name": "Fetch Stock 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-stock-data",
      "name": "Merge Stock Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Clean and format stock data for Claude analysis\nconst items = $input.all();\nconst symbols = $('Extract Parameters').item.json.symbols.split(',');\nconst cleanedData = [];\n\nitems.forEach((item, index) => {\n  const symbol = symbols[index]?.trim() || 'UNKNOWN';\n  const rawData = item.json;\n  \n  // Extract quote data from Yahoo Finance response\n  const chart = rawData?.chart?.result?.[0];\n  \n  if (!chart) {\n    cleanedData.push({\n      symbol: symbol,\n      error: \"No data available\"\n    });\n    return;\n  }\n  \n  const quote = chart.indicators?.quote?.[0];\n  const timestamps = chart.timestamp || [];\n  const meta = chart.meta;\n  \n  // Filter out null values and build clean price array\n  const prices = [];\n  \n  for (let i = 0; i < timestamps.length; i++) {\n    if (quote?.close?.[i] !== null && quote?.close?.[i] !== undefined) {\n      prices.push({\n        date: new Date(timestamps[i] * 1000).toISOString().split('T')[0],\n        open: parseFloat(quote.open?.[i]?.toFixed(2) || 0),\n        high: parseFloat(quote.high?.[i]?.toFixed(2) || 0),\n        low: parseFloat(quote.low?.[i]?.toFixed(2) || 0),\n        close: parseFloat(quote.close?.[i]?.toFixed(2) || 0),\n        volume: quote.volume?.[i] || 0\n      });\n    }\n  }\n  \n  const currentPrice = meta?.regularMarketPrice || prices[prices.length - 1]?.close || 0;\n  const previousClose = meta?.chartPreviousClose || prices[prices.length - 2]?.close || 0;\n  const priceChange = currentPrice - previousClose;\n  const priceChangePct = previousClose !== 0 ? ((priceChange / previousClose) * 100).toFixed(2) : '0.00';\n  \n  cleanedData.push({\n    symbol: symbol,\n    company_name: meta?.longName || symbol,\n    currency: meta?.currency || 'USD',\n    exchange: meta?.exchangeName || 'Unknown',\n    current_price: parseFloat(currentPrice.toFixed(2)),\n    previous_close: parseFloat(previousClose.toFixed(2)),\n    price_change: parseFloat(priceChange.toFixed(2)),\n    price_change_percent: priceChangePct + '%',\n    day_high: parseFloat((meta?.regularMarketDayHigh || 0).toFixed(2)),\n    day_low: parseFloat((meta?.regularMarketDayLow || 0).toFixed(2)),\n    prices: prices,\n    data_points: prices.length,\n    period: `Last ${prices.length} trading days`\n  });\n});\n\nreturn cleanedData.map(data => ({ json: { stock_data: data } }));"
      },
      "id": "clean-stock-data",
      "name": "Clean Stock Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all stock data for Claude\nconst items = $input.all();\nconst stocksData = items.map(item => item.json.stock_data);\nconst analysisType = $('Extract Parameters').item.json.analysis_type;\nconst symbols = $('Extract Parameters').item.json.symbols;\n\n// Build the prompt based on analysis type\nlet prompt = `You are a financial market analyst. Analyze the following stock market data and provide insights in a clear, concise format suitable for Telegram messaging (use Markdown formatting).\\n\\n`;\n\nif (analysisType === 'detailed') {\n  prompt += `Provide a DETAILED analysis including:\\n`;\n  prompt += `1. 📊 Price trend analysis for each symbol\\n`;\n  prompt += `2. 📈 Volume analysis and trading activity\\n`;\n  prompt += `3. 🎯 Support and resistance levels\\n`;\n  prompt += `4. 💭 Market sentiment assessment\\n`;\n  prompt += `5. 💡 Trading recommendations\\n`;\n  prompt += `6. ⚠️ Risk factors to consider\\n\\n`;\n} else {\n  prompt += `Provide a BRIEF analysis including:\\n`;\n  prompt += `1. 📊 Overall market trend summary\\n`;\n  prompt += `2. 🔍 Key observations for each symbol\\n`;\n  prompt += `3. 📈 Notable price movements\\n`;\n  prompt += `4. 💭 Brief market outlook\\n\\n`;\n}\n\nprompt += `**Symbols analyzed:** ${symbols}\\n\\n`;\nprompt += `**Market Data:**\\n\\`\\`\\`json\\n${JSON.stringify(stocksData, null, 2)}\\n\\`\\`\\`\\n\\n`;\nprompt += `Format your response using Telegram Markdown (bold with *text*, italic with _text_, code with \\`code\\`). `;\nprompt += `Keep it concise and use emojis to make it visually appealing. Start with a title like \"📊 *Stock Market Analysis*\"`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    symbols: symbols,\n    analysis_type: analysisType,\n    stocks_count: stocksData.length\n  }\n}];"
      },
      "id": "build-claude-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "call-claude-api",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "REYgTvbzUh2zQgDS",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis-text",
              "name": "analysis",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "model-info",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "tokens-count",
              "name": "tokens_used",
              "value": "={{ $json.usage.input_tokens + $json.usage.output_tokens }}",
              "type": "number"
            },
            {
              "id": "symbols-ref",
              "name": "symbols",
              "value": "={{ $('Build Claude Prompt').item.json.symbols }}",
              "type": "string"
            },
            {
              "id": "chat-id-ref",
              "name": "chat_id",
              "value": "={{ $('Extract Parameters').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "send-telegram-ref",
              "name": "send_to_telegram",
              "value": "={{ $('Extract Parameters').item.json.send_to_telegram }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-analysis",
      "name": "Extract Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-send-telegram",
              "leftValue": "={{ $json.send_to_telegram }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-send-telegram",
      "name": "Should Send to Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.analysis }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "send-to-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-true",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message-success",
              "name": "message",
              "value": "Stock analysis sent to Telegram successfully",
              "type": "string"
            },
            {
              "id": "telegram-msg-id",
              "name": "telegram_message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            },
            {
              "id": "analysis-ref",
              "name": "analysis",
              "value": "={{ $('Extract Analysis').item.json.analysis }}",
              "type": "string"
            },
            {
              "id": "symbols-final",
              "name": "symbols",
              "value": "={{ $('Extract Analysis').item.json.symbols }}",
              "type": "string"
            },
            {
              "id": "tokens-final",
              "name": "tokens_used",
              "value": "={{ $('Extract Analysis').item.json.tokens_used }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "format-telegram-response",
      "name": "Format Telegram Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-no-telegram",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message-no-telegram",
              "name": "message",
              "value": "Stock analysis completed (Telegram disabled)",
              "type": "string"
            },
            {
              "id": "analysis-no-telegram",
              "name": "analysis",
              "value": "={{ $json.analysis }}",
              "type": "string"
            },
            {
              "id": "symbols-no-telegram",
              "name": "symbols",
              "value": "={{ $json.symbols }}",
              "type": "string"
            },
            {
              "id": "tokens-no-telegram",
              "name": "tokens_used",
              "value": "={{ $json.tokens_used }}",
              "type": "number"
            },
            {
              "id": "telegram-disabled",
              "name": "telegram_sent",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "format-no-telegram-response",
      "name": "Format No-Telegram Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2660,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2880,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Fetch Stock 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Stock 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock 1": {
      "main": [
        [
          {
            "node": "Merge Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock 2": {
      "main": [
        [
          {
            "node": "Merge Stock Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Stock Data": {
      "main": [
        [
          {
            "node": "Clean Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Stock Data": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Extract Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Analysis": {
      "main": [
        [
          {
            "node": "Should Send to Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send to Telegram?": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format No-Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Format Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No-Telegram Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T00:00:00.000Z",
  "versionId": "stock-telegram-v1",
  "id": "claude-stock-to-telegram"
}
