n8n-workflows/examples/claude-stock-market-analyzer.json
{
  "name": "Claude Stock Market Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stock",
      "name": "Webhook - Stock Analysis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "stock-analysis-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "symbols-001",
              "name": "symbols",
              "value": "={{ $json.body.symbols || 'SPY,QQQ,DIA' }}",
              "type": "string"
            },
            {
              "id": "analysis-type-001",
              "name": "analysis_type",
              "value": "={{ $json.body.analysis_type || 'overview' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-params-stock",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbols.split(',')[0].trim() }}?interval=1d&range=5d",
        "options": {}
      },
      "id": "fetch-stock-1",
      "name": "Fetch Stock Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbols.split(',')[1]?.trim() || 'QQQ' }}?interval=1d&range=5d",
        "options": {}
      },
      "id": "fetch-stock-2",
      "name": "Fetch Stock Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-stock-data",
      "name": "Merge Stock Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "market-data-001",
              "name": "market_data",
              "value": "={{ JSON.stringify([$('Fetch Stock Data 1').item.json, $('Fetch Stock Data 2').item.json], null, 2) }}",
              "type": "string"
            },
            {
              "id": "symbols-ref",
              "name": "symbols",
              "value": "={{ $('Extract Parameters').item.json.symbols }}",
              "type": "string"
            },
            {
              "id": "analysis-ref",
              "name": "analysis_type",
              "value": "={{ $('Extract Parameters').item.json.analysis_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-market-data",
      "name": "Format Market Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "claude-prompt",
              "name": "prompt",
              "value": "={{ 'You are a financial market analyst. Analyze the following stock market data and provide:\\n\\n' + ($json.analysis_type === 'detailed' ? '1. Detailed price trend analysis for each symbol\\n2. Volume analysis\\n3. Support and resistance levels\\n4. Market sentiment assessment\\n5. Trading recommendations\\n6. Risk factors to consider' : '1. Overall market trend summary\\n2. Key observations for each symbol\\n3. Notable price movements\\n4. Brief market outlook') + '\\n\\nSymbols analyzed: ' + $json.symbols + '\\n\\nMarket Data:\\n```json\\n' + $json.market_data + '\\n```\\n\\nProvide a clear, professional analysis in markdown format.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-claude-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "call-claude-stock",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "REYgTvbzUh2zQgDS",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis-result",
              "name": "analysis",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "symbols-final",
              "name": "symbols",
              "value": "={{ $('Format Market Data').item.json.symbols }}",
              "type": "string"
            },
            {
              "id": "model-used",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "tokens-used",
              "name": "tokens_used",
              "value": "={{ $json.usage.input_tokens + $json.usage.output_tokens }}",
              "type": "number"
            },
            {
              "id": "timestamp-analysis",
              "name": "analyzed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-final-response",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"symbols\": $json.symbols,\n  \"analysis\": $json.analysis,\n  \"metadata\": {\n    \"model\": $json.model,\n    \"tokens_used\": $json.tokens_used,\n    \"analyzed_at\": $json.analyzed_at\n  }\n} }}",
        "options": {}
      },
      "id": "respond-stock",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Stock Analysis": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Fetch Stock Data 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Stock Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Data 1": {
      "main": [
        [
          {
            "node": "Merge Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Data 2": {
      "main": [
        [
          {
            "node": "Merge Stock Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Stock Data": {
      "main": [
        [
          {
            "node": "Format Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Market Data": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T00:00:00.000Z",
  "versionId": "1"
}
